<form id="settingsForm" method="post" action="{server_url}admin/settings/process">
    <input type="text" name="forumname" placeholder="Forum name" aria-label="Forum name" required="" value="{forum_name}">
    <input type="text" name="forumdesc" placeholder="Forum description" aria-label="Forum description" required="" value="{forum_desc}">

    <input type="text" name="forumonline" placeholder="Forum offline Message" aria-label="Forum offline Message" required="" value="{forum_online_msg}">
    <fieldset>
        <label for="online">
            <input type="checkbox" role="switch" id="online" name="online" {forum_online}>
            Forum online
        </label>
    </fieldset>
    <fieldset>
        <label for="forum_force_login">
            <input type="checkbox" role="switch" id="forum_force_login" name="forum_force_login" {forum_force_login}>
            Force visitors to login
        </label>
    </fieldset>
</form>
<button id="settings">Update settings</button>

<script>
    window.onload = () => {
        const btn = document.querySelector('#settings');
        btn.addEventListener('click', () => {
            const formData = new FormData(document.getElementById('settingsForm'));
            
            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });

            toast('Trying to update..', 2, '180, 180, 53');
            req('POST', '{server_url}/api/settings', JSON.stringify(formObject), (msg, data) => {
                if(msg !== null) {
                    toast(msg);
                    return;
                }

                try {
                    if (data !== null) {
                        let d = JSON.parse(data);
                        toast(d.data.message, 5, '53, 255, 53');
                    } else {
                        toast('Data is null');
                    }
                } catch (error) {
                    toast('Error parsing JSON data: ' + error.message);
                }
            });
        });
    }
</script>