<form method="post" action="{server_url}admin/settings/process">
    <input type="text" name="forumname" placeholder="Forum name" aria-label="Forum name" required="" value="{forum_name}">
    <input type="text" name="forumdesc" placeholder="Forum description" aria-label="Forum description" required="" value="{forum_desc}">

    <input type="text" name="forumonline" placeholder="Forum offline Message" aria-label="Forum offline Message" required="" value="{forum_online_msg}">
    <fieldset>
        <label for="online">
            <input type="checkbox" role="switch" id="online" name="online" {forum_online}>
            Forum online
        </label>
    </fieldset>
    <button type="submit">Update settings</button>
</form>