<div class="prethread">
    <div class="thread">
        <div class="thread_info">
            <div class="thread_title"><a href="{server_url}thread/{id}">{closed_prefix} {pinned_prefix} {custom_prefix} {thread_title}</a></div>
            <div class="thread_subinfo">
                By <a href="{server_url}profile/{thread_author_id}">{thread_author_username}</a>, {thread_date}
            </div>
        </div>
        <div class="stats">{thread_replies} replies</div>
        <div class="lastpost">
            {thread_lastpost}
        </div>
    </div>
</div>