<div class="forum_stats">{forum_posts} posts and {forum_threads} threads</div>
<div class="preforum">
    <div class="forum">
        <div class="forum_icon"><i class="ti ti-{forum_icon}"></i></div>
        <div class="forum_info">
            <hgroup>
                <a href="{server_url}/forum/{forum_id}/page/1"></a><h2 onclick="location.href='{server_url}/forum/{forum_id}/page/1'">{forum_title}</h2>
                <h3>{forum_description}</h3>
            </hgroup>
            {subforums}
        </div>
        <div class="forum_lastpost">{forum_lastpost}</div>
    </div>
</div>