<div class="preforum">
    <div class="forum">
        <div class="forum_icon"><i class="ti ti-{forum_icon}"></i></div>
        <div class="forum_info">
            <div class="forum_title"><a href="{server_url}forum/{forum_id}/page/1">{forum_title}</a></div>
            <div class="forum_desc">{forum_description}</div>
            {subforums}
        </div>
        <div class="forum_stats">{forum_posts} posts and {forum_threads} threads</div>
        <div class="forum_lastpost">{forum_lastpost}</div>
    </div>
</div>