footer {
    max-width: 1720px;
    width: 90%;
    margin: auto;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

footer .footer-box img {
    width: 200px;
}

footer .footer-box h1 {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

footer .footer-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    margin-top: 10px;
}

footer .footer-box ul li a {
    text-decoration: none;
}

footer .footer-box ul li a:hover {}