html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}

[role=button]:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--primary-focus);
}

li[role=list]>a::after {
    display: none;
}

[role~="tooltip"]::before {
    display: none;
}

[role~="tooltip"]::after {
    font-size: medium !important;
    background-color: var(--primary) !important;
    box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--primary-focus);
}

.uppercase {
    text-transform: uppercase;
}

/*Scrollbar Chromium*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::-webkit-scrollbar-track {
    background: var(--opposite-x2);
    border-radius: 0px;
}

/*Scrollbar Gecko*/
* {
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1);
    scrollbar-width: thin;
}

/* Purple Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #7127C3;
    --primary-hover: #9331ff;
    --primary-focus: rgba(112, 39, 195, 0.4);
    --primary-inverse: #FFF;
    --opposite: rgba(0, 0, 0, 0.05);
    --opposite-x2: rgba(0, 0, 0, 0.1);
}

/* Purple Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #7127C3;
        --primary-hover: #9331ff;
        --primary-focus: rgba(112, 39, 195, 0.4);
        --primary-inverse: #FFF;
        --opposite: rgba(255, 255, 255, 0.05);
        --opposite-x2: rgba(255, 255, 255, 0.1);
    }
}

/* Purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #7127C3;
    --primary-hover: #9331ff;
    --primary-focus: rgba(112, 39, 195, 0.4);
    --primary-inverse: #FFF;
    --background-color: #000;
    --opposite: rgba(255, 255, 255, 0.05);
    --opposite-x2: rgba(255, 255, 255, 0.1);
}

/* Purple (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --mark-background-color: var(--primary) !important;
    --mark-color: #FFF !important;
}

.login_register {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-content: center;
}

#bb-foot {
    text-align: center;
}

a.button {
    cursor: pointer;
    border: 2px solid var(--primary);
    border-radius: 50px;
    text-decoration: none;
}

.ti {
    pointer-events: none;
}