header #bg {
    background: url("/themes/default/images/bg.webp") center center / cover no-repeat;
    min-height: 300px;
    opacity: 0.7;
}

header nav {
    box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--primary-focus);
    height: 80px;
    padding: 0 15px;
    width: 100%;
    background-color: var(--opposite);
}

header nav button {
    max-width: 200px;
}

nav button,
form,
details,
summary {
    margin: 0;
    padding: 12px !important;
}

nav summary::after {
    display: none !important;
}

nav i {
    font-size: x-large;
}

header nav a {
    margin-right: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#i {
    position: relative;
}

#i>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#user-managment img {
    width: 48px;
    height: 48px;
    box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--primary-focus);
    border-radius: var(--border-radius);
}

#user-managment .username {
    border-radius: var(--border-radius);
    font-weight: bold;
    font-size: larger;
    margin: 10px;
}

#user-managment {
    display: flex;
    justify-content: end;
    align-items: center;
}