header #bg {
    background: url("/themes/default/images/bg.webp") no-repeat center center;
    background-size: cover;
    min-height: 500px;
    filter: blur(4px);
}

header nav {
    box-shadow: 0 0 6px var(--primary);
    min-height: 80px;
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: var(--opposite);
}

header nav button {
    max-width: 200px;
}

#i {
    min-height: 500px;
    max-height: 500px;
    position: relative;
}

#i>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#user-managment img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 0 6px var(--primary);
}

#user-managment {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}