#content {
    display: block;
}

#mem-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: auto;
    max-width: 1200px;
}

.member {
    margin: 20px;
    border-radius: 6px;
    width: calc(33.3% - 40px);
    overflow: hidden;
    position: relative;
    background: var(--opposite);
    box-shadow: 0 0 6px var(--primary);
}

.member-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 1%, rgba(0, 0, 0, 0) 100%);
}

.member-info {
    padding: 16px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.member-info-title {
    font-size: 12px;
    font-weight: bold;
    /*! letter-spacing: 1px; */
}
.member-info_top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 0;
}

.member-info_side {
    background: #1a1a1a;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    display: inline-flex;
    padding: 5px 5px;
    margin-left: 5px;
}

.member-info_icon {
    font-size: 22px;
    margin-left: 2px;
}

.member-info-data {
    flex: 1;
    white-space: nowrap;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
}

.member-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 6px var(--primary);
}

.member-basic-info {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
}

.mebmer-username {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    display: block;
}

.member-rank {
    font-size: 14px;
}