@-webkit-keyframes pulse {
    0%   { -webkit-transform: scale(1); opacity: 1; }
    70%  { -webkit-transform: scale(3); opacity: 0; }
    100% { -webkit-transform: scale(1); opacity: 0; }
}

@-ms-keyframes pulse {
    0%   { -ms-transform: scale(1); opacity: 1; }
    70%  { -ms-transform: scale(3); opacity: 0; }
    100% { -ms-transform: scale(1); opacity: 0; }
}

@keyframes pulse {
    0%   { transform: scale(1); opacity: 1; }
    70%  { transform: scale(3); opacity: 0; }
    100% { transform: scale(1); opacity: 0; }
}

html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
    color: #dcdcdc;
    background-color: #212121;
  height: 100vh;
    display: grid;
    place-content: center;
}

.off-container {
  width: 150px;
  height: 150px;
  display: grid;
  place-items: center;
  position: relative;
}

.off-container::before {
    -webkit-animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
    -ms-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
}

.off-container h1 {
  font-size: 12px;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  position: relative;
  z-index: 1;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.off-container i {
  font-size: 5.3rem;
  color: white;
}