#thread {
    min-width: 100%; /* ? */
}

.bg {
    background: #111;
    border-radius: 15px;
    padding: 15px;
}

#thread-title {
    font-size: 2rem;
}

#prethread {
    margin-top: 10px;
    position: relative;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr;
    gap: 0 10px;
    grid-template-areas:
    ". .inherit";
    display: grid;
}

#thread-author {
    margin: 0 30px 30px 30px;
    display: grid;
    justify-content: center;
    position: relative;
}

#thread-author > div {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

#thread-userstats ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#thread-username,
#thread-userrank{
    margin-bottom: 10px;
}

#thread-userrank {
    margin-top: 10px;
    font-size: 0.9rem;
}

#thread-useravatar {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    border: 3px solid #ac59ff;
    background: #6412b7;
    padding: 5px;
    min-width: unset !important;
}

#thread-useravatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#thread-username {
    font-size: 1.2rem;
}

#thread-timestamp {
    margin-bottom: 15px;
    font-size: 0.88rem;
    color: gray;
}