<!doctype html>
<html>
{head}
<body>
	<div class="bit-container">
		{header}

		<div id="content">
			<div id="profile_info">
				<div id="profile_avatar">{user_avatar}</div>
				<div id="profile_name">{user_name}</div>
				<div id="profile_stats">
					<div class="profile_stats_count"><span>{post_count}</span> posts</div>
					<div class="profile_stats_count"><span>{user_reputation}</span> reputation</div>
				</div>
				<div id="profile_bio">soon</div>
			</div>
			<div id="profile_posts">
				{user_posts}
			</div>
		</div>
		
        {footer}
	</div>
</body>
</html>