<footer>
    <div class="footer-box">
        <img src="{server_url}/themes/default/images/logo.webp">
    </div>
    <div class="footer-box">
        <h1>Quick Links</h1>
        <ul>
            <li>
                <a target="_blank" href="https://github.com/bit-paper/bitboard">Github</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
        </ul>
    </div>
    <div class="footer-box">
        <h1>Important</h1>
        <ul>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
        </ul>
    </div>
    <div class="footer-box">
        <h1>Contact</h1>
        <ul>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
            <li>
                <a href="{server_url}#">Test</a>
            </li>
        </ul>
    </div>
</footer>