<div id="stats">
    <div class="stat">
        <div class="iconstat">
            <i class="ti ti-message-circle-2-filled"></i>
            {totalPosts}
        </div>
        <div class="txt">posts</div>
    </div>
    <div class="stat">
        <div class="iconstat">
            <i class="ti ti-book-filled"></i>
            {totalThreads}
        </div>
        <div class="txt">threads</div>
    </div>
    <div class="stat">
        <div class="iconstat">
            <i class="ti ti-user-circle"></i>
            {totalUsers}
        </div>
        <div class="txt">users</div>
    </div>
    <div class="stat">
        {lastRegistered}
    </div>
</div>