<div class="prepost bg" author_id="{user_id}">
    <div class="post-author">
        <div class="post-username">{user_name}</div>
        <div class="post-useravatar"><img src="{user_avatar}" alt="{user_avatar_alt}'s avatar"></div>
        <div class="post-userrank">{user_rank}</div>
        <div class="post-userstats">{user_stats}</div>
    </div>
    <div class="post-content">
        <div class="post-timestamp">{post_timestamp}</div>
        <div class="post-content">{post_content}</div>
    </div>
    <div class="post-footer">{post_likes}</div>
</div>