<div id="thread-title" class="bg">{thread_title}</div>
<div author_id="{user_id}" id="prethread" class="bg">
    <div id="thread-author">
        <div>
            <div id="thread-username"><a href="{server_url}profile/{user_id}">{user_name}</a></div>
            <div id="thread-useravatar"><img src="{user_avatar}" alt="{user_avatar_alt}'s avatar"></div>
            <div id="thread-userrank">{user_rank}</div>
            <div id="thread-userstats">{user_stats}</div>
        </div>
    </div>
    <div id="thread-content">
        <div id="thread-timestamp">{thread_timestamp}</div>
        <div id="thread-content">{thread_content}</div>
    </div>
    <div id="thread-footer">{thread_likes}</div>
</div>