<!doctype html>
<html>
{head}
<body>
	<div id="bb-container">
		<div id="bb-box">
			<form id="bb-form" action="" method="post">
				<input type="hidden" name="step" value="1">

                <h1 class="bb-lines">BitBoard</h1>
                <h2 class="bb-lines">Easy, fun, fast forum system written in PHP.</h2>

                <button class="button">
                    <input class="button-content" type="submit" value="Begin Installation">
                </button>
            </form>
		</div>

		{footer}
	</div>

	<script src="./assets/javascripts/install/form.js"></script>
</body>
</html>