<!doctype html>
<html>
{head}
<body>
	<div id="bb-container">
		<div id="bb-box">
			<form id="bb-form" action="" method="post">
				<input type="hidden" name="step" value="2">

                <h1 class="bb-lines">BitBoard</h1>
                <h2 class="bb-lines">Installation requirements.</h2>
				
				<p class="bb-lines">
					{php}
				</p>

				<p class="bb-lines">
					{mysql}
				</p>

                <button class="button">
                    <input class="button-content" type="submit" value="Next">
                </button>
            </form>
		</div>

		{footer}
	</div>

	<script src="./assets/javascripts/spell-element.js"></script>
	<script src="./assets/javascripts/spell-modal.js"></script>
    {error}
    <script src="./assets/javascripts/install/form.js"></script>
</body>
</html>