<!doctype html>
<html>
{head}
<body>
    <div id="bb-container">
        <div id="bb-box">
            <form id="bb-form" action="" method="POST" novalidate autocomplete="off">
                <input type="hidden" name="step" value="3">

                <h1 class="bb-lines">BitBoard</h1>
                <h2 class="bb-lines">Database connection data.</h2>

                <div id="bb-input-area">
                    <div class="form-control">
                        <input special name="host" type="text" required="">
                        <label>
                            <span style="transition-delay:0ms">H</span>
                            <span style="transition-delay:50ms">o</span>
                            <span style="transition-delay:100ms">s</span>
                            <span style="transition-delay:150ms">t</span>
                        </label>
                    </div>

                    <div class="form-control">
                        <input special name="username" type="text" required="">
                        <label>
                            <span style="transition-delay:0ms">U</span>
                            <span style="transition-delay:50ms">s</span>
                            <span style="transition-delay:100ms">e</span>
                            <span style="transition-delay:150ms">r</span>
                            <span style="transition-delay:200ms">n</span>
                            <span style="transition-delay:250ms">a</span>
                            <span style="transition-delay:300ms">m</span>
                            <span style="transition-delay:350ms">e</span>
                        </label>
                    </div>

                    <div class="form-control">
                        <input name="password" type="password" required="">
                        <label>
                            <span style="transition-delay:0ms">P</span>
                            <span style="transition-delay:50ms">a</span>
                            <span style="transition-delay:100ms">s</span>
                            <span style="transition-delay:150ms">s</span>
                            <span style="transition-delay:200ms">w</span>
                            <span style="transition-delay:250ms">o</span>
                            <span style="transition-delay:300ms">r</span>
                            <span style="transition-delay:350ms">d</span>
                        </label>
                    </div>

                    <div class="form-control">
                        <input special name="name" type="text" value="bitboard" required="">
                        <label>
                            <span style="transition-delay:0ms">D</span>
                            <span style="transition-delay:50ms">a</span>
                            <span style="transition-delay:100ms">t</span>
                            <span style="transition-delay:150ms">a</span>
                            <span style="transition-delay:200ms">b</span>
                            <span style="transition-delay:250ms">a</span>
                            <span style="transition-delay:300ms">s</span>
                            <span style="transition-delay:350ms">e</span>
                        </label>
                    </div>
                </div>

                <button class="button">
                    <input class="button-content" type="submit" value="Next">
                </button>
            </form>
        </div>

        <footer>{footer}</footer>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    {error}
    <script src="./assets/javascripts/install/form.js"></script>
</body>
</html>