<!doctype html>
<html>
{head}
<body>
    <div id="bb-container">
        <div id="bb-box">
            <form id="bb-form" action="" method="POST" novalidate autocomplete="off">
                <input type="hidden" name="step" value="4">

                <h1 class="bb-lines">BitBoard</h1>
                <h2 class="bb-lines">Administration account.</h2>

                <div id="bb-input-area">

                    <div class="form-control">
                        <input cmin="4" special name="username" type="text" required="">
                        <label>
                            <span style="transition-delay:0ms">U</span>
							<span style="transition-delay:50ms">s</span>
							<span style="transition-delay:100ms">e</span>
							<span style="transition-delay:150ms">r</span>
							<span style="transition-delay:200ms">n</span>
							<span style="transition-delay:250ms">a</span>
							<span style="transition-delay:300ms">m</span>
							<span style="transition-delay:350ms">e</span>
                        </label>
                    </div>

					<div class="form-control">
                        <input special name="email" type="text" required="" reg="[^@]+@[^@]+\.[a-zA-Z]{2,}">
                        <label>
                            <span style="transition-delay:0ms">E</span>
							<span style="transition-delay:50ms">m</span>
							<span style="transition-delay:100ms">a</span>
							<span style="transition-delay:150ms">i</span>
							<span style="transition-delay:200ms">l</span>
                        </label>
                    </div>

                    <div class="form-control">
                        <input cmin="8" special name="password" type="password" required="" reg="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}$">
                        <label>
                            <span style="transition-delay:0ms">P</span>
							<span style="transition-delay:50ms">a</span>
							<span style="transition-delay:100ms">s</span>
							<span style="transition-delay:150ms">s</span>
							<span style="transition-delay:200ms">w</span>
							<span style="transition-delay:250ms">o</span>
							<span style="transition-delay:300ms">r</span>
							<span style="transition-delay:350ms">d</span>
                        </label>
                    </div>
                </div>

                <button class="button">
                    <input class="button-content" type="submit" value="Next">
                </button>
            </form>
        </div>

        <footer>{footer}</footer>
    </div>

    <script src="./assets/javascripts/spell-element.js"></script>
	<script src="./assets/javascripts/spell-modal.js"></script>
    <script src="./assets/javascripts/spell-alert.js"></script>
    {error}
    <script src="./assets/javascripts/install/form.js"></script>
</body>
</html>