<!doctype html>
<html>
{head}
<body>
    <div id="bb-container">
        <div id="bb-box">
            <form id="bb-form" action="" method="POST" novalidate autocomplete="off">
                <input type="hidden" name="step" value="5">

                <h1 class="bb-lines">BitBoard</h1>
                <h2 class="bb-lines">Forum information.</h2>

                <div id="bb-input-area">
                    <div class="form-control">
                        <input cmin="2" special name="name" type="text" required="">
                        <label>
                            <span style="transition-delay:0ms">N</span>
							<span style="transition-delay:50ms">a</span>
							<span style="transition-delay:100ms">m</span>
							<span style="transition-delay:150ms">e</span>
                        </label>
                    </div>

                    <div class="form-control">
                        <input cmin="2" special name="description" type="text" required="">
                        <label>
                            <span style="transition-delay:0ms">D</span>
							<span style="transition-delay:50ms">e</span>
							<span style="transition-delay:100ms">s</span>
							<span style="transition-delay:150ms">c</span>
							<span style="transition-delay:200ms">r</span>
							<span style="transition-delay:250ms">i</span>
							<span style="transition-delay:300ms">p</span>
							<span style="transition-delay:350ms">t</span>
							<span style="transition-delay:400ms">i</span>
							<span style="transition-delay:450ms">o</span>
							<span style="transition-delay:500ms">n</span>
                        </label>
                    </div>
                </div>

                <button class="button">
                    <input class="button-content" type="submit" value="Next">
                </button>
            </form>
        </div>

        <footer>{footer}</footer>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    {error}
    <script src="./assets/javascripts/install/form.js"></script>
</body>
</html>