<!doctype html>
<html>
{head}
<body>
	<div id="bb-container">
        <div id="bb-box">
            <form id="bb-form" action="" method="POST" novalidate autocomplete="off">
                <input type="hidden" name="step" value="6">

                <h1 class="bb-lines">BitBoard</h1>
                <h2 class="bb-lines">Installation finished.</h2>

                <button class="button">
                    <input class="button-content" type="submit" value="Finish">
                </button>
            </form>
        </div>

        <footer>{footer}</footer>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="./assets/javascripts/install/form.js"></script>
</body>
</html>