<!doctype html>
<html>
{head}
<body>
	<div id="install">
		<header>
			<h1>Final</h1>
			<p>Finishing installation of BitBoard</p>
		</header>

		<main>
			<div style="text-align: justify;">
				That's all! Just press Finish below!
			</div>

			<form action="/?bb_next=true" method="post" style="display: grid; place-items: center;">
				<input type="hidden" name="step_6" value="true">

				<div class="down">
					<input class="button" type="submit" value="Finish">
				</div>
			</form>
		</main>
	</div>

	{footer}
</body>
</html>