<header>
    <div class="theme-switcher">
        <details role="list">
            <summary aria-haspopup="listbox" role="button">Theme</summary>
            <ul role="listbox">
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
        </details>
    </div>
    <div id="i">
        <div class="bg_container">
            <div id="bg"></div>
        </div>
        <img src="{server_url}/themes/default/images/logo.webp">
    </div>
    <nav>
        {menu}
        {user}
        {login_register}
    </nav>
</header>