<div class="member-f_contact">
    <form action="#">
        <button type="submit" aria-label="Send a message to user" data-microtip-position="top-right"
            role="tooltip"><i class="ti ti-message-circle-2"></i></button>
    </form>
    <form action="#">
        <button type="submit" aria-label="Check all user content" data-microtip-position="top" role="tooltip"><i
                class="ti ti-activity"></i></button>
    </form>
    <form action="#">
        <button type="submit" aria-label="Ignore the user" data-microtip-position="top" role="tooltip"><i
                class="ti ti-at-off"></i></button>
    </form>
    <form action="#">
        <button type="submit" aria-label="Report user" data-microtip-position="top-left" role="tooltip"><i
                class="ti ti-flag-3-filled"></i></button>
    </form>
</div>