<div class="member">
    <div class="member-header">
        <div class="member-avatar"><img src="{avatar}"></div>
        <div class="member-basic-info">
            <a href="{server_url}profile/{id}" class="mebmer-username">{username}</a>
            <div class="member-rank">{rank}</div>
        </div>
    </div>
    <div class="member-info">
        <div class="member-info-title">Reputation</div>
        <div class="member-info-data">{reputation}</div>
    </div>
    <div class="member-info">
        <div class="member-info-title">Total threads</div>
        <div class="member-info-data">{threads}</div>
    </div>
    <div class="member-info">
        <div class="member-info-title">Total posts</div>
        <div class="member-info-data">{posts}</div>
    </div>
    <div class="member-info">
        <div class="member-info-title">Register date</div>
        <div class="member-info-data">{regdate}</div>
    </div>
    <div class="member-info">
        <div class="member-info-title">Last seen</div>
        <div class="member-info-data">{lastseen}</div>
    </div>
</div>