<div class="login_register">
    <a href="{server_url}login">
        <button aria-label="Login" data-microtip-position="bottom" role="tooltip"><i
                class="ti ti-login-2"></i></button>
    </a>
    <a href="{server_url}register">
        <button aria-label="Register" data-microtip-position="bottom" role="tooltip"><i
                class="ti ti-user-plus"></i></button>
    </a>
    <li role="list">
        <button aria-haspopup="listbox" aria-label="Theme switcher" data-microtip-position="top-left" role="tooltip"><i
                class="ti ti-sun-moon"></i></button>
        <ul role="listbox">
            <li aria-label="Auto" data-microtip-position="left" role="tooltip"><a href="#" data-theme-switcher="auto"><i
                        class="ti ti-circle-letter-a"></i></a></li>
            <li aria-label="Light" data-microtip-position="left" role="tooltip"><a href="#"
                    data-theme-switcher="light"><i class="ti ti-sun"></i></a></li>
            <li aria-label="Dark" data-microtip-position="left" role="tooltip"><a href="#" data-theme-switcher="dark"><i
                        class="ti ti-moon-stars"></i></a></li>
        </ul>
    </li>
</div>