<div class="login_register">
    <form action="{server_url}login">
        <button type="submit">LOGIN</button>
    </form>
    <form action="{server_url}register">
        <button type="submit">REGISTER</button>
    </form>
    <br>
    <details role="list">
        <summary aria-haspopup="listbox" role="button">Theme</summary>
        <ul role="listbox">
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
        </ul>
    </details>
</div>