<div class="nav-links">
    <a href="{server_url}">
        <button aria-label="Home" data-microtip-position="bottom" role="tooltip"><i class="ti ti-home-2"></i></button>
    </a>
    <a href="{server_url}members">
        <button aria-label="Member list" data-microtip-position="bottom" role="tooltip"><i class="ti ti-users"></i></button>
    </a>
    <a href="/ELEMENTS.html">
        <button aria-label="CSS ELEMENTS" data-microtip-position="bottom" role="tooltip"><i class="ti ti-brand-css3"></i></button>
    </a>
</div>