<div class="nav-links">
    <form action="{server_url}">
        <button type="submit" aria-label="Home" data-microtip-position="bottom" role="tooltip"><i
                class="ti ti-home-2"></i></button>
    </form>
    <form action="{server_url}members">
        <button type="submit" aria-label="Member list" data-microtip-position="bottom" role="tooltip"><i
                class="ti ti-users"></i></button>
    </form>
    <form action="/ELEMENTS.html">
        <button type="submit" aria-label="CSS ELEMENTS" data-microtip-position="bottom" role="tooltip"><i
                class="ti ti-brand-css3"></i></button>
    </form>
</div>