<!DOCTYPE html>
<html>
{head}

<body>
    <div class="bit-container">
        <section id="login">
            <header>
                <h1>Login to {forum_name}</h1>
                <p>
                    <a href="{register_url}">Not a member? Register now!</a>
                </p>
            </header>
            {error}
            <form action="./login/process" method="post">
                <input type="text" name="username" placeholder="Username / Email" aria-label="Username / Email"
                    required="">
                <input type="password" name="password" placeholder="Password" aria-label="Password" required="">
                <fieldset>
                    <label for="terms">
                        <input type="checkbox" role="switch" id="terms" name="terms">
                        I agree to the <a href="#" onclick="event.preventDefault()">Rules</a>
                    </label>
                </fieldset>
                <button type="submit">Login</button>
            </form>
        </section>
    </div>
</body>

</html>