body {
  margin: 0;
  background-color: #212121;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
  "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
  "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  opacity: 0;
}

#bb-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

#bb-box {
  min-width: 300px;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 15px 60px #ae00ff;
  outline: 1px solid #642b99;
  border-radius: 10px;
  position: relative;
  display: grid;
  place-content: center;
}

#bb-input-area {
  margin: 20px 0;
}

form {
  max-width: 230px;
}

h1 {
  color: #7700ff;
  font-weight: 600;
  font-size: 40px;
}

h2 {
  font-size: 18px;
  margin-top: 17px;
}

.bb-lines {
  text-align: center;
  line-height: 1;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  line-height: 1;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient( 82.3deg, rgb(150, 93, 233) 10.8%, rgb(125, 53, 230) 94.3% );
  transition: all 0.475s;
}

input[type="submit"] {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: inherit;
}

.form-control {
  position: relative;
}

.form-control input:not(:last-child) {
  margin-bottom: 25px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 11px 0;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  transition: border-bottom-color .2s;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #bc79ff;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  font-size: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 15px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: #bc79ff;
  transform: translateY(-25px);
}

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}